@model BigSchool2.ViewModels.CourseViewModel
@{
    ViewBag.Title = "Attending";
}

<link href="~/Content/Site.css" rel="stylesheet" />
<h2>Attending</h2>
<ul class="course">
    @foreach (var course in Model.UP)
    {
        <li>
            <div class="date">
                <div class="month">
                    @course.DateTime.ToString("MM")
                </div>
                <div class="day">
                    @course.DateTime.ToString("dd")
                </div>
            </div>

            <div class="details">
                <span class="lecturer">
                    @course.Lecturer.Name
                    @if (Model.ShowAction)
                    {
                        <button class="btn btn-default btn-sm js-toggle-fl" idFL="@course.LecturerId">Follow</button>

                    }
                </span>
                <br />
                <span class="category">
                    @course.Category.Name
                    @if (Model.ShowAction)
                    {
                        <button idCourse=" @course.Id " class="btn btn-default btn-sm js-toggle-attendance">Going?</button>
                    }
                </span>
            </div>
        </li>
    }

</ul>
@section scripts
{
    <script>

        $(document).ready(function () {
            $(".js-toggle-attendance").click(function (e) {
                var button = $(e.target);
                $.post("/api/Attendances", { courseId: button.attr("idCourse") })
                    .done(function () {
                        alert("Đăng ký khóa học thành công!")
                        button.removeClass("btn-default")
                        button.addClass("btn-info")
                        button.text("Going");
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });
            });

            $(".js-toggle-fl").click(function (e) {
                var button = $(e.target);
                $.post("/api/Flow", { followee: button.attr("idFL") })
                    .done(function () {
                        button.text("Follow");
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });
            });


        });
    </script>
}


